@{
    Layout = null;
}


<div>
    <h2>All Posts</h2>
    <ul id="posts" />
</div>
<div>
    <h2>Search by ID</h2>
    <input type="text" id="postId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="post" />
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

<script>
    var uri = '../api/Posts';

    $(document).ready(function () {
        // Send an AJAX request
        $.getJSON(uri)
            .done(function (data) {
                // On success, 'data' contains a list of products.
                $.each(data, function (key, item) {
                    // Add a list item for the product.
                    $('<li>', { text: formatItem(item) }).appendTo($('#posts'));
                });
            });
    });

    function formatItem(item) {
        return item.Title + item.Description + item.Content + item.Comments;
    }

    function find() {
        var id = $('#postId').val();
        $.getJSON(uri + '/' + id)
            .done(function (data) {
                $('#post').text(formatItem(data));
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#post').text('Error: ' + err);
            });
    }
</script>