

<h1>Home</h1>
<div class="block long">
    <p>This is a web application for module 183.</p>
    @Html.ActionLink("Login", "Index", "Login", null, new { @class = "pure-button" })
    @Html.ActionLink("Register", "Index", "Register", null, new { @class = "pure-button pure-button-primary" })
</div>