/*
    COLORS:
        Light gray: #f0f0f0;
        Gray: #cbcbcb;
        Red: #f44336;
        Green: #4CAF50;
        Blue: #2196F3;

*/

body {
    width: 100%;
    background: #f0f0f0;
}

.header {
    background: #ffffff;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}

    .header h1 {
        text-align: center;
    }

ul.navigation {
    width: calc(90% + 40px);
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

.navigation li {
    float: left;
}

    .navigation li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: #000000;
    }

        .navigation li a:hover {
            background-color: #ffffff;
        }

    .navigation li.selected {
        background-color: #ffffff;
        font-weight: bold;
    }

        .navigation li.selected a {
            color: #000000;
        }

.content {
    width: 90%;
    background: #ffffff;
    padding: 20px;
    margin: 0 auto;
}

    .content table {
        width: 100%;
    }

        .content table tbody tr:hover {
            background: #f0f0f0;
        }

        .content table tbody tr td.control {
            text-align: right;
        }

            .content table tbody tr td.control a {
                text-decoration: none;
                color: #2196F3;
            }

    .content h2 .control {
        float: right;
    }

        .content h2 .control a {
            text-decoration: none;
            color: #2196F3;
        }

    .content h3 .control a {
        text-decoration: none;
        color: #2196F3;
    }

table.room {
    width: auto;
}

    table.room td.seat {
        width: 20px;
        height: 20px;
        border: 1px solid #cbcbcb;
        text-align: center;
    }

    table.room tbody tr:hover {
        background: #ffffff;
    }

    table.room td.seat:hover {
        background-color: #cbcbcb;
    }

    table.room td.seat.not-existing {
        background-color: #cbcbcb;
    }

    table.room td.seat a {
        color: white;
        width: 100%;
        height: 100%;
    }

input.error {
    color: #ffffff;
    background: #f44336;
}

.footer {
    width: 90%;
    background: #f0f0f0;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.5em;
}

a.button {
    padding: 5px 10px;
    border: 1px solid #cbcbcb;
    background-color: #f0f0f0;
    text-decoration: none;
    color: black;
}