<!DOCTYPE html>

<html>
<head class="no-js" lang="">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Css/main.css" />
    <link rel="stylesheet" href="~/Css/normalize.css" />

    <title>M183@(string.IsNullOrEmpty(ViewBag.Title) ? "" : " - " + ViewBag.Title)</title>
</head>
<body>
    <div class="header"></div>
    <div class="navigation"></div>
    <div class="body">@RenderBody()</div>
    <div class="footer"></div>

    <script src="~/Scripts/Site.js"></script>
</body>
</html>
