<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>M183@(string.IsNullOrEmpty(ViewBag.Title) ? "" : " - " + ViewBag.Title)</title>
</head>
<body>
    <div class="header"></div>
    <div class="navigation"></div>
    <div class="body">@RenderBody()</div>
    <div class="footer"></div>

    <script src="~/Scripts/Site.js"></script>
</body>
</html>
