/*
    Colors:
        Red: #CA3C3C
        Blue: #0078e7
        Green:
        Yellow:
        Orange:
        Gray: #808080
        Light gray: #E6E6E6
*/
body {
    background-color: #E6E6E6;
    margin: 0 auto;
}

.header {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    text-align: center;
}

    .header h1 {
        margin: 0px;
    }

.navigation {
    width: calc(90% + 40px);
    background-color: white;
    margin: 0 auto;
}

    .navigation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
    }

    .navigation ul li {
        float: left;
    }

    .navigation ul li.control{
        float: right;
    }

        .navigation ul li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .navigation ul li a:hover {
                background-color: #E6E6E6;
            }

            .navigation ul li.selected a {
                background-color: #808080;
                color: white;
            }

.content {
    width: calc(90% + 40px);
    margin: 0 auto;
}

.footer {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    text-align: center;
    font-size: 10px;
}

.block {
    min-height: 300px;
    padding: 20px;
    background-color: white;
    width: 50%;
}

    .block.long {
        width: calc(100% - 40px);
    }

    .block .title .control {
        float: right;
    }

    .block .title .control a {
        font-weight: normal;
        font-size: 50%;
    }

.title .control {
    float: right;
}

.title .control a {
    font-size: 50%;
    font-weight: normal;
}
    .title .control input {
        font-size: 50%;
        font-weight: normal;
    }

.space-right {
    margin-right: 10px;
}

.pure-button.pure-button-error {
    background-color: #CA3C3C;
    color: white;
}

.error {
    color: #CA3C3C;
}