@model List<LoggedTextViewModel>

@{ 
    ViewBag.Title = "Key Logging";
}

<h1>Key Logging</h1>
<p>Type any sentence and press F12, select console tab to check. Sentences are saved into the database. Reload the page to see logged sentences.</p>

<h2>List of sentences</h2>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Sentence</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LoggedTextViewModel text in Model)
        {
            <tr>
                <td>@text.Timestamp.ToShortDateString()</td>
                <td>@text.Sentence</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Clear", "Clear", "KeyLogging", new { @class = "button" })

<script src="~/Scripts/xss_keylogger_attack.js"></script>