@model LoginViewModel

@{
    ViewBag.Title = "Verify Token";
}

<h1>Verify Token</h1>
<div class="block long">
    @using (Html.BeginForm("VerifyCode", "Login", null, FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
    {
        @Html.LabelFor(m => m.Token)
        @Html.TextBoxFor(m => m.Token)
        <input class="pure-button pure-button-primary" type="submit" name="submit" value="Login" />
    }
</div>